/** @format */

@use "../../styles/partials/mixins" as *;
// @use "../../styles/partials/mixins" as *;

.video {
  &__title {
    padding: 2rem 0;
    color: Red;
    border: 2px soliod black;
  }
  &__content {
  }
  &__details {
    @include flex(row, center, center);
  }
}
