/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.button {
  @include m-labels-buttons;
  padding: 0 2rem; //0 32px;
  width: 100%;
  height: 2.5rem; //40px
  border-radius: 0.25rem; //4px;
  border: 0;
  text-transform: uppercase;
  background-color: $fnt-clr-primary-cta;
  color: $fnt-clr-primary-neutral;
  @include tablet {
    @include flex(row, center, center);
    @include d-t-labels-buttons;
    background-size: 1.5rem 2.5rem; //24px 40px
    max-width: 9.375rem; //150px
    padding: 0 2rem; //32px
    margin: 0 0 0 1rem;
  }

  &:hover {
    background-color: $clr-secondary-cta;
  }
}

.navbar__button {
  background-image: url("../../assets/Icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.625rem; //10px 10px
  background-size: 1.25rem; //20px
  @include tablet {
    order: 2;
  }
}

.display__button {
  background-image: url("../../assets/Icons/add_comment.svg");
  background-repeat: no-repeat;
  background-position: 0.625rem 0.625rem; //10px 10px
  background-size: 1.25rem; //20px
}
