/** @format */

@use "./styles/partials/resets" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/breakpoints" as *;

.desktop {
  max-width: 1020px;
  margin: 0 auto;
  @include desktop {
    @include flex(row, center, flex-start);
    padding: 0 2.25rem 0 2.25rem;
  }
  &__left {
    @include desktop {
      border-right: 2px solid $clr-secondary-light;
      //   padding: 0 0 0 0;
    }
  }
}
