/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.video-player {
  width: 100%;
  background-color: $clr-secondary-dark;
  background-position: center;
  background-size: cover;
  @include flex(row, center, center);
  &__video {
    aspect-ratio: 16/9;
    max-width: 53rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablet {
      padding: 0 2.25rem;
    }
  }
}
