/** @format */

// ******** Colors ********

// Primary Text Colors

$fnt-clr-primary-dark: #323232; //BrainFlix - Black
$fnt-clr-primary-cta: #fd9902; //BrainFlix - Blue
$fnt-clr-primary-light: #afafaf; //Silver
$fnt-clr-primary-neutral: #ffffff; //White

// Secondary Colors

$clr-secondary-dark: #000000; //BandSite - DarkBlack
$clr-secondary-cta: #dd8a0f; //BandSite - DarkBlue
$clr-secondary-light: #e1e1e1; //Mercury
$clr-secondary-neutral: #fafafa; //Alabaster
