/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials//breakpoints" as *;

.upload {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1020px;

  @include tablet {
    padding: 1.5rem 2.25rem;
  }
  @include desktop {
    padding: 1.5rem 2.25rem 0 2.25rem;
  }

  &__title {
    @include m-page-header;
    padding: 1rem 0;
    @include tablet {
      @include d-t-page-header;
      border-bottom: 2px solid $clr-secondary-light; //mercury
    }
    @include desktop {
      padding: 1rem 0 1rem 0;
    }
  }

  &__thumbnail {
    @include flex(column, center, flex-start);
    padding: 0 0 1rem 0;
    @include tablet {
      padding: 1.5rem 0 1.5rem 0;
      width: 50%;
    }
    @include desktop {
      width: 35%;
      order: 1;
    }
  }

  &__label {
    @include m-labels-buttons;
    color: $fnt-clr-primary-light;
    padding-bottom: 0.25rem; //4px
    text-transform: uppercase;
    @include tablet {
      @include d-t-labels-buttons;
    }
  }

  &__img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }

  &__form {
    @include desktop {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      padding: 1.5rem 0 1.5rem 1rem;
    }
  }
  &__content {
    @include desktop {
      order: 2;
      width: 65%;
      padding: 1.5rem 0 0 1rem;
    }
  }

  &__comment-title {
    @include m-body-copy;
    font-family: Avenir, "serif";
    min-height: 36px;
    // height: 3px;
    min-width: 15rem; //240px
    width: 100%;
    border-radius: 0.25rem; //4px
    border: 2px solid $clr-secondary-light; //mercury
    background-color: $clr-secondary-neutral;
    padding: 6px 0.75rem;
    margin: 0 0 1rem 0; //16px
    // vertical-align: middle;
    @include tablet {
      @include d-t-body-copy;
      max-height: 2.5rem; //40px
      padding: 0.45rem 1rem;
    }
    &::placeholder {
      color: $fnt-clr-primary-dark;
      // vertical-align: middle;
      @include m-body-copy;
      @include tablet {
        @include d-t-body-copy;
      }
    }
    &:focus {
      outline: none;
      border: 2px solid $fnt-clr-primary-cta;
    }

    &--error {
      border: 2px solid #d22d2d;
    }
  }

  &__comment-description {
    @include m-body-copy;
    // display: block;
    font-family: Avenir, "serif";
    min-height: 2.25rem; //36px
    height: 5rem;
    min-width: 15rem; //240px
    width: 100%;
    border-radius: 0.25rem; //4px
    border: 2px solid $clr-secondary-light; //mercury
    background-color: $clr-secondary-neutral;
    padding: 0.75rem; //12px
    margin: 0 0 1rem 0; //16px
    @include tablet {
      @include d-t-body-copy;
      // max-height: 2.5rem; //40px
      height: 5rem;
      padding: 0.45rem 1rem;
    }
    @include desktop {
      height: 6.5rem;
    }

    &::placeholder {
      color: $fnt-clr-primary-dark;
      @include m-body-copy;
      @include tablet {
        @include d-t-body-copy;
      }
    }
    &--error {
      border: 2px solid #d22d2d;
    }
    &:focus {
      outline: none;
      border: 2px solid $fnt-clr-primary-cta;
    }
  }
  &__button {
    @include flex(column, center, center);
    @include tablet {
      @include flex(row, flex-end, center);
      border-top: 2px solid $clr-secondary-light; //mercury
      padding-top: 1rem;
    }
    @include desktop {
      width: 100%;
      order: 3;
    }
  }
  &__submit {
    background-image: url("../../assets/Icons/publish.svg");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.625rem; //10px 10px
    background-size: 1.25rem; //20px
    @include tablet {
      order: 2;
    }
  }

  &__cancel {
    @include m-labels-buttons;
    margin: 1.5rem 0 0 0;
    padding: 0 2rem; //0 32px;
    width: 100%;
    height: 2.5rem; //40px
    border-radius: 0.25rem; //4px;
    border: 0;
    text-transform: uppercase;
    background-color: $fnt-clr-primary-neutral;
    color: $fnt-clr-primary-cta;
    @include tablet {
      @include flex(row, center, center);
      @include d-t-labels-buttons;
      order: 1;
      background-size: 1.5rem 2.5rem; //24px 40px
      max-width: 9.375rem; //150px
      padding: 0 2rem; //32px
      margin: 0 1.5rem 0 0;
    }
  }
}
