/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.video {
  margin: 0 auto;
  max-width: 1020px;
  padding: 1rem 1rem 0 1rem;
  @include tablet {
    padding: 1.5rem 2.25rem 0 2.25rem;
  }
  @include desktop {
    padding: 0;
  }

  &__title {
    @include m-page-header;
    padding: 0 0 1rem 0;
    @include tablet {
      @include d-t-page-header;
    }
    @include desktop {
      padding: 1.5rem 1.5rem 1rem 0;
    }
  }
  &__details {
    @include m-sub-header;
    @include flex(row, space-between, center);
    border-top: 2px solid $clr-secondary-light;
    border-bottom: 2px solid $clr-secondary-light;
    @include tablet {
      @include d-t-sub-header;
      border-top: none;
      padding: 0 0 0.5rem 0;
    }
    @include desktop {
      padding: 0 1.5rem 0.5rem 0;
      border-bottom: 2px solid $clr-secondary-light;
    }
  }

  &__content {
    @include flex(column, space-between, flex-start);
    @include tablet {
      @include flex(row, space-between, flex-start);
      width: 32%;
    }
    @include desktop {
      width: 40%;
    }
  }

  &__channel {
    @include m-sub-header;
    padding: 0.5rem 0;
    @include tablet {
      @include d-t-sub-header;
      padding: 0;
      width: 100%;
    }
  }

  &__date {
    @include m-body-copy;
    color: $fnt-clr-primary-light;
    padding: 0.5rem 0;
    @include tablet {
      @include d-t-body-copy;
      padding: 0;
      width: 100%;
    }
  }
  &__stats {
    @include m-body-copy;
    @include flex(column, right, flex-start);
    color: $fnt-clr-primary-light;
    padding: 0.5rem 3rem 0.5rem 0;
    @include tablet {
      @include d-t-body-copy;
      @include flex(row, space-between, flex-start);
      padding: 0;
      width: 27%;
    }
    @include desktop {
      width: 35%;
    }
  }
  &__views,
  &__likes {
    @include flex(row, flex-start, flex-start);
    padding: 0.5rem 0;
    @include tablet {
      @include flex(row, center, center);
      padding: 0;
    }
  }
  &__img {
    padding: 0 0.5rem 0 0;
    cursor: pointer;
  }
}

.main {
  &__text {
    @include m-body-copy;
    padding: 1rem 0 1rem 0;
    @include tablet {
      @include d-t-body-copy;
      padding: 1.5rem 0 1.5rem 0;
    }
    @include desktop {
      padding: 1.5rem 1.5rem 1.5rem 0;
    }
  }
  &__comment {
    @include m-sub-header;
    @include tablet {
      @include d-t-sub-header;
    }
  }
}
