/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 1rem 1rem 1rem; //16px padding

  @include tablet {
    padding: 0 2.25rem; //36px
  }

  &__content {
    @include flex(column, center, center);
    @include tablet {
      @include flex(row, center, center);
    }
  }

  &__logo {
    width: 7.5rem; //120px
    height: 1.563rem; //25px
    margin: 1rem 0 0 0;
    @include tablet {
      margin: 0;
    }
  }
  &__items {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    width: 100%;
    @include tablet {
      @include flex(row, flex-end, center);
      flex-wrap: nowrap;
    }
  }

  &__search {
    @include m-labels-buttons;
    background-image: url("../../assets/Icons/search.svg");
    background-color: $clr-secondary-neutral;
    background-position: left;
    background-repeat: no-repeat;
    background-position: 0.625rem; //10px
    padding: 0 0 0 2.5rem;
    width: 82%;
    height: 2.25rem; //36px
    margin: 1rem 0;
    border-radius: 4px;
    border: 2px solid $clr-secondary-light;
    @include tablet {
      width: 40%;
      order: 1;
    }
    @include desktop {
      width: 30%;
      margin: 1rem 1rem 1rem 0;
    }
    &::placeholder {
      @include m-labels-buttons;
      color: $fnt-clr-primary-dark;
    }
    &:focus {
      outline: none;
      border: 2px solid $fnt-clr-primary-cta;
    }
  }

  &__icon {
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -4px;
    height: 2.25rem; //36px
    width: 2.25rem; //36px
    border-radius: 50%;
    @include tablet {
      order: 3;
      margin: 0 0 0 1rem;
      height: 2.5rem; //40px
      width: 2.5rem; //40px
    }
    @include desktop {
      margin: 0 0 0 2.75rem;
    }
  }
}
