/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials//breakpoints" as *;

.display {
  @include flex(row, space-between, left);
  padding: 1rem;
  margin: 0 auto;
  max-width: 1020px;
  @include tablet {
    padding: 1.5rem 2.25rem;
  }
  @include desktop {
    padding: 1.5rem 1.5rem 0 0;
  }

  &__picture {
    width: 20%;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-position: -0.25rem; //-4px
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 2.25rem; //36px
    max-height: 2.25rem; //36px
    border-radius: 50%;
    margin-top: 1.625rem;
    @include tablet {
      max-width: 2.5rem; //40px
      max-height: 2.5rem; //40px
      margin-top: 1.563rem; //25px
    }
  }

  &__form {
    @include flex(column, space-between, left);
    width: 100%;
    padding: 0 0 0 0.75rem;
    @include tablet {
      padding: 0 0 0 1rem;
    }
  }
  &__label {
    @include m-body-copy;
    color: $fnt-clr-primary-light;
    padding-bottom: 0.25rem; //4px
    text-transform: uppercase;
    @include tablet {
      @include d-t-body-copy;
    }
  }

  &__content {
    @include tablet {
      @include flex(row, center, flex-start);
    }
  }

  &__comment {
    @include m-body-copy;
    display: block;
    font-family: Avenir, "serif";
    min-height: 2.25rem; //36px
    min-width: 15rem; //240px
    width: 100%;
    border-radius: 0.25rem; //4px
    border: 2px solid $clr-secondary-light; //mercury
    background-color: $clr-secondary-neutral;
    padding: 0.75rem; //12px
    margin: 0 0 1rem 0; //16px
    @include tablet {
      @include d-t-body-copy;
      max-height: 2.5rem; //40px
      padding: 0.45rem 1rem;
    }

    &:focus {
      outline: none;
      border: 2px solid $fnt-clr-primary-cta;
    }

    &--error {
      border: 1px solid #d22d2d;
    }

    &::placeholder {
      color: $fnt-clr-primary-dark;
      @include m-body-copy;
      @include tablet {
        @include d-t-body-copy;
      }
    }
  }
}
