/** @format */

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials//breakpoints" as *;

.side__videos {
  max-width: 1020px;
  width: 50%;
  margin: 0 auto;
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 0 0 1.5rem;
  }
  text-decoration: none;
}
